<form id='detail-selection'>
<input type="radio" name="action" class="type" value="party">
    Add or Edit Party Info
</input>
<br>
<input type="radio" name="action" class="type" value="birthday">
    Add or Edit Birthday Info
</input>
</form>