<div class="form-group">
    <div class="radio">
        <label class="col-md-5 col-md-offset-1 control-label">
            <input type="radio" class="type" name="action" id="party" value="party">
            Add or Edit Party Info
        </label>
    </div>
    <div class="radio">
        <label class="col-md-5 col-md-offset-1 control-label">
            <input type="radio" class="type" name="action" id="birthday" value="birthday">
             Add or Edit Birthday Info
        </label>
    </div>
</div>