<label>Theme : </label>
<input type="text" size="25" name="party_theme" value="{{party_theme}}"</input>
<br>
<label>Date : </label>
<input type="text" size="25" id="date_input" name="{{party_date}}"></input>
<br>
<label>Time : </label>
<input type="text" size="25" name="party_time" value="{{party_time}}"</input>
<br>
<button class="save">Save the party</button>